.currency-selector {
  display: flex;
  justify-content: space-between;

  button {
    height: 46px;
    width: 70px;
    border: none;
    align-self: flex-end;
    background-color: transparent;
  }

  .switch-icon {
    width: 28px;
  }
}
