:root {
  --blue-color: #0077ff;
  --gray-color: #d3d3d3;
  --dark-text-color: #1a1a1a;
  --gray-text-color: #424242;
  --red-color: red;
}

html *,
body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e9f0d3;
  color: var(--dark-text-color);
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select,
button {
  outline-color: var(--blue-color);
}

select,
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.ta-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-heading {
  font-size: x-large;
  font-weight: 500;
}

.section-content {
  max-width: 500px;
  margin: 0 auto;
  border-top: 8px solid var(--blue-color);
  padding: 15px 40px 50px 40px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 1px 4px 2px rgba(77, 77, 77, 0.21);
  background-color: white;

  .sub-heading {
    font-size: large;
    color: var(--gray-text-color);
    font-weight: 300;
  }

  .rate {
    font-size: xx-large;
    font-weight: 500;
  }
}
